<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    <link  rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"  integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  </head>
  <body>
    <h1> Hello! </h1>
    <h2>register here</h2>
    <div class=container>
    <form method='POST'>
    {{form.as_p}}
    {% csrf_token%}
    <input type="submit" class="btn btn-primary" value="submit"/>
    </form>

    </div>
    {% comment %} {%if users %}
    <ol>
    {% for person in users %}
        <li>User Info</li>
        <ul>
          <li>First Name: {{person.first_name}}</li>
          <li>Last Name: {{person.last_name}}</li>
          <li>Email: {{person.email}}</li>
        </ul>
      {% endfor %}
    </ol>
    
    {%else%}
    <p>no users </p> {% endcomment %}
    {% comment %} {%endif%} {% endcomment %}
  </body>
</html>